<% if @user.errors.any? %>
    <div class="bg-red-100 mb-2 p-3 text-red-800">
        <p>Vous avez <span class="font-bold"><%= @user.errors.count %></span> erreur(s) :</p>
        <ul class="list-disc list-inside pl-4">
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="mx-auto md:w-2/5 bg-white border border-b rounded-xl p-4">
    <div class="w-full align-items-center">
        <div class="space-y-5">
            <div class="text-2xl font-bold"> Renvoyer la confirmation </div><hr>
            <div class="mr-5">
                <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                    
                    <div class="row mb-3">
                        <%= f.label :email, "Email", class: 'text-xs' %>
                        <div class="">
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'rounded-lg w-full h-9' %>
                        </div>
                    </div>

                    <div class="">
                        <button type="submit" class="bg-sky-400 text-white hover:bg-sky-600 px-4 py-2 rounded-md text-sm">Renvoyer le code</button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>