<div class="mx-auto w-96 bg-white border border-b rounded-xl p-5">
    <div class="w-full align-items-center">
        <div class="space-y-5">
            <div class="text-2xl font-bold"> Se connecter </div><hr>
            <div class="w-80">
                <%= form_for @user, url: new_session_path do |f| %>
                    <div class="row mb-3">
                        <%= f.label :username, "Nom d'utilisateur ou Email", class: 'text-xs' %>
                        <div class="">
                            <%= f.text_field :username, class: 'rounded-lg w-full' %>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <%= f.label :password, "Mot de passe", class: 'text-xs' %>
                        <div class="">
                            <%= f.password_field :password, class: 'rounded-lg w-full' %>
                        </div>
                    </div>
                    
                    <div class="grid justify-items-end">
                        <button type="submit" class="bg-sky-400 text-white hover:bg-sky-600 px-4 py-2 rounded-md text-sm">Se connecter</button>
                    </div>
                <% end %>
            </div>
        </div>

        <p class="text-sm mt-5">Vous n'avez pas un compte? <%= link_to "Inscrivez-vous", new_user_path, class: "text-sky-500 hover:text-sky-700" %> </p>
    </div>
</div>