<% if @user.errors.any? %>
    <div class="bg-red-100 mb-2 p-3 text-red-800">
        <p>Vous avez <span class="font-bold"><%= @user.errors.count %></span> erreur(s) :</p>
        <ul class="list-disc list-inside pl-4">
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="mx-auto md:w-2/5 bg-white border border-b rounded-xl p-4">
    <div class="w-full align-items-center">
        <div class="space-y-5">
            <div class="text-2xl font-bold"> Edition profil </div><hr>
            <div class="mr-5">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <div class="row mb-3">
                        <%= f.label :username, "Nom d'utilisateur", class: 'text-sm' %>
                        <div class="">
                            <%= f.text_field :username, autocomplete:"username", class: 'rounded-lg w-full h-9' %>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <%= f.label :email, "Email", class: 'text-sm' %>
                        <div class="">
                            <%= f.email_field :email, autocomplete:"email", class: 'rounded-lg w-full h-9' %>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <%= f.label :password, "Nouveau mot de passe", class: 'text-sm' %>
                        <div class="">
                            <%= f.password_field :password, autocomplete:"new-password", class: 'rounded-lg w-full h-9' %>
                        </div>
                        <% if @minimum_password_length %>
                          <em class="text-xs"><%= @minimum_password_length %> characters minimum</em>
                        <% end %>
                    </div>

                    <div class="row mb-3">
                        <%= f.label :password_confirmation, "Confirmer le nouveau mot de passe", class: 'text-sm' %>
                        <div class="">
                            <%= f.password_field :password_confirmation, autocomplete:"new-password", class: 'rounded-lg w-full h-9' %>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <%= f.label :current_password, "Ancien mot de passe", class: 'text-sm' %>
                        <div class="">
                            <%= f.password_field :current_password, autocomplete:"new-password", class: 'rounded-lg w-full h-9' %>
                        </div>
                    </div>
                    
                    <div class="grid justify-items-end">
                        <button type="submit" class="bg-sky-400 text-white hover:bg-sky-600 px-4 py-2 rounded-md text-sm">Mettre à jour</button>
                    </div>
                <% end %>
            </div>
            <% if !current_user.confirmed? %>
                <p><%= button_to "Confirmer mon compte", user_confirmation_path, class: "text-sky-900 hover:text-sky-700" %></p>
            <% end %>
            <%= link_to "Back", :back, class: "text-sky-900 hover:text-sky-700" %>
        </div>
    </div>
</div>
