<div class="mx-auto md:w-2/5 bg-white border border-b rounded-xl p-5">
    <div class="w-full align-items-center">
        <div class="space-y-5">
            <div class="text-2xl font-bold"> Se connecter </div><hr>
            <div class="mr-5">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="row mb-3">
                        <%= f.label :login, "Nom d'utilisateur ou Email", class: 'text-sm' %>
                        <div class="">
                            <%= f.text_field :login, autofocus: true, class: 'rounded-lg w-full h-9' %>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <%= f.label :password, "Mot de passe", class: 'text-sm' %>
                        <div class="">
                            <%= f.password_field :password, autocomplete: "current-password", class: 'rounded-lg w-full h-9' %>
                        </div>
                    </div>

                      <% if devise_mapping.rememberable? %>
                        <div class="field">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end %>
                    
                    <div class="grid justify-items-end">
                        <button type="submit" class="bg-sky-400 text-white hover:bg-sky-600 px-4 py-2 rounded-md text-sm">Se connecter</button>
                    </div>
                <% end %>
            </div>
        </div>
      
        <p class="text-sm mt-5">Vous n'avez pas un compte? <%= link_to "Inscrivez-vous", new_user_registration_path, class: "text-sky-500 hover:text-sky-700" %> </p>
    </div>
</div>