<div class="sm:flex mb-7 space-y-4">
    <h3 class="font-bold text-2xl sm:flex-auto sm:w-64"> Toutes vos opérations </h3>
    <div>
        <a class="px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-sky-400 hover:bg-sky-500" href="<%= new_operation_path %>">Nouvelle opération</a>
    </div>
</div>

<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-100">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date & Heure</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Type d'opération</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Montant (en XOF)</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Motif</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% if @operations.count > 0 %>
                <% @operations.each do |operation| %>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= operation.datetime.strftime("%d %B %Y à %Hh%M") %></td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <% if operation.operation_type == 1 %>
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Entrée </span>
                          <% else %>
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"> Dépense </span>
                          <% end %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= operation.amount %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= truncate(operation.motif, :length => 55) %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                            <a href="<%= operation_path(operation.id) %>" class="text-sky-500 hover:text-sky-700">Détails</a>
                        </td>
                    </tr>
                <% end %>
            <% else %>
                <tr>
                    <td colspan="5" class="px-6 py-4 whitespace-nowrap text-center text-gray-400"> Aucune opération </td>
                </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>