<% if @operation.errors.any? %>
    <div class="bg-red-100 mb-2 p-3 text-red-800">
        <p>Vous avez <span class="font-bold"><%= @operation.errors.count %></span> erreur(s) :</p>
        <ul class="list-disc list-inside pl-4">
            <% @operation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="mx-auto md:w-2/5 bg-white border border-b rounded-xl p-4">
    <div class="w-full align-items-center">
        <div class="space-y-5">
            <div class="text-2xl font-bold"> Nouvelle opération </div><hr>
            <div class="mr-5">
                <%= form_for @operation do |f| %>
                    <div class="row mb-3">
                        <%= f.label :amount, "Montant", class: 'text-xs' %>
                        <div class="">
                            <%= f.text_field :amount, class: 'rounded-lg w-full h-9' %>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <%= f.label :motif, "Motif", class: 'text-xs' %>
                        <div class="">
                            <%= f.text_field :motif, class: 'rounded-lg w-full h-9' %>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <%= f.label :operation_type, "Type d'opération", class: 'text-xs' %>
                        <div class="">
                            <%= f.select :operation_type, {'Dépense'=>0,'Entrée'=>1}, {}, class: "rounded-lg w-full h-9" %>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <%= f.label :datatime, "Date & Heure", class: 'text-xs' %>
                        <div class="">
                            <%= f.datetime_field :datetime, class: 'rounded-lg w-full h-9' %>
                        </div>
                    </div>

                    <div class="">
                        <button type="submit" class="bg-sky-400 text-white hover:bg-sky-600 px-4 py-2 rounded-md text-sm">Créer</button>
                    </div>
                    
                <% end %>
            </div>
        </div>
        <p class="text-sm mt-5">Retourner vers toutes <%= link_to "les opérations", operations_path, class: "text-sky-500 hover:text-sky-700" %></p>
    </div>
</div>