<div class="bg-white shadow-sm overflow-hidden sm:rounded-lg mx-auto mb-5">
  <div class="px-4 py-5 sm:px-6 grid grid-cols-2 content-between">
    <h3 class="text-lg leading-6 font-medium text-gray-900">Détails Opération</h3>
    <div class="grid justify-items-end">
        <div class="flex flex-column space-x-4">
            <%= link_to "Editer", edit_operation_path, class: "px-2 bg-sky-500 hover:bg-sky-600 text-white rounded-full"%>
            <%= link_to "Supprimer", operation_path, data: {method: :delete, confirm: "Êtes-vous sûr de vouloir supprimer cette opération?"}, 
                class: "px-2 bg-red-500 hover:bg-red-600 text-white rounded-full" %>
        </div>
    </div>
  </div>
  <div class="border-t border-gray-200">
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Date & Heure</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= @operation.datetime.strftime("%d %B %Y à %Hh%M") %></dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Montant</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= @operation.amount %> CFA</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Motif</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= @operation.motif %></dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Type d'opération</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <% if @operation.operation_type == 1 %>
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Entrée </span>
            <% else %>
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"> Dépense </span>
            <% end %>
        </dd>
      </div>
    </dl>
  </div>
</div>

<p class="text-right">Retourner vers <%= link_to "les opérations", operations_path, class: "text-sky-500 hover:text-sky-700" %></p>
